form#user-login-form
  div
    label(for="username") Username
    input(type="text" name="username" required)
  div
    label(for="password") Password
    input(type="password" name="password" required)
  div
    button Login
